.confirm input[type="button"] {
	padding: 10px 15px;
	margin: 10px 5px;
	border-radius: 1px;
	cursor: pointer;
	background: #ddd;
	border: 1px solid #ccc;
	color: var(--primary-font-color);
	text-align: center;
	font-size: 1em;
	font-family: museo-sans, sans-serif
}

.confirm input[type="button"]:hover {
	background: #ccc;
}

.confirm {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.confirm > div {
	background-color: #f7f7f7;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.40);
	border: 1px solid var(--primary-font-color);
}