#route {
	width: 100%;
	object-fit: cover;
}

#contactGrid {
	display: flex;
	justify-content: space-around;
}

.formGrid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#query {
	margin-top: 10px;
}

.firstColumn {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.secondColumn {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

form {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

@media all and (max-width: 600px) {
	#contactGrid {
		flex-direction: column;
	}

	#rightSide {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	.firstColumn {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.secondColumn {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}

}

input[type=text], textarea, input[type=email], input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

label {
	width: 100%;
	text-align: left;
}

button, input[type="submit"] {
	text-decoration: none;
	color: var(--primary-font-color);
	border: none;
	background-color: #E6E6E6;
	padding: 8px 32px;
	text-align: center;

	margin: 10px auto;
}

button, input[type="submit"]:hover {
	cursor: pointer;
}

input[type="submit"] {
	font-size: 1.1em;
}
