#thumbnail {
	width: 80%;
	object-fit: contain;
	margin: 0 auto;
}

.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.detail {
	width: 150px;
	color: var(--primary-font-color);
	display: flex;
	flex-direction: column;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 20px 20px;
	padding: 20px;

	text-decoration: none;
}

.detail:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.detail .detail_value {
	width: 160px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	text-decoration: none;
}

.detail .detail_title {
	text-transform: uppercase;
	font-style: normal;
	font-size: 1.2rem;
	letter-spacing: 2px;
	border-bottom: 1px solid var(--primary-font-color);
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}

.detail svg, .detail img {
	fill: var(--primary-font-color);
	width: 50px;
	margin: 0 auto;
}

.gallery {
	margin-top: 20px;
	margin-bottom: 20px;
}
