body {
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 20px auto 0 auto;
	line-height: 1;
	font-style: normal;
	font-weight: 400;
	font-family: questa, serif;
	text-align: center;
	max-width: 60rem;
	font-size: 2rem;
}

#highlights {
	position: relative;
	margin: 40px 0;
}

#gallery {
	margin: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#gallery a:hover img{
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

#gallery img {
	margin-top: 10px;
	height: 200px;
	width: 355px;
	object-fit: contain;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}