:root {
	--background-color: #FDFDFDFF;
	--primary-font-color: #424241;
	--secondary-font-color: #1A1F16;
	--primary-accent-color: #DAA520;
	--secondary-background-color: #1A1F16;
	--menu-background-color: #122C34;
}

html {
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	color: var(--primary-font-color);
}

body {
	margin: 0;
	padding: 0;
}
