#wellness {
	height: 80vh;
	background-image: url("../img/spa-bed.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: end;
}

#wellness div {
	width: 80%;
	padding: 20px;
	background-color: var(--overlay-color);
	color: var(--primary-accent-color);
}

@media only screen and (min-width: 768px) {
	#wellness div {
		width: 50%;
	}
}

#gallery {
	margin-bottom: 20px;
}
