.cards {
  .excursion {
    img {
      width: 90%;
      object-fit: contain;
    }
  }
}

#excursionEditor {
  width: 80%;
  margin: auto;

  .panels {
    display: flex;
    justify-content: space-between;

    .panel {
      width: 49%;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    label {
      text-align: center;
    }
  }
}

#createExcursion {
  margin-bottom: 30px;
}