$background-color: #FDFDFD;
$primary-font-color: #424242;
$secondary-font-color: #1A1F16;
$accent-color: #A38C5B;
$overlay-color: #231600C7;

$hamburger-size: 33px;
$hamburger-patty-size: 4px;
$hamburger-left-indent: 33px;
$space-between-patty: 5px;
$header-height: 100px;
$footer-height: 80px;